@model RouteDetail
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Route Detail</a></li>
                    <li class="breadcrumb-item active">Create</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">New Builty</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <label for="BuiltyNo">Builty No:</label>
                        <input type="text" class="form-control" id="BuiltyNo" value="@Model.BuiltyNo" placeholder="Builty Number">
                        <label id="ErrBuiltyNo" style="color:red;"></label>
                    </div>
                    <div class="col-md-4">
                        <label for="DriveName">Driver Name:</label>
                        <input type="text" class="form-control text-uppercase" id="DriveName" value="@Model.DriveName" placeholder="Drive Name">
                        <label id="ErrDriveName" style="color:red;"></label>
                    </div>
                    <div class="col-md-4">
                        <label for="TruckNo">Truck No:</label>
                        <input type="text" class="form-control text-uppercase" id="TruckNo" value="@Model.TruckNo" placeholder="Truck Number">
                        <label id="ErrTruckNo" style="color:red;"></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label for="Start_Date">Start Date:</label>
                        <input type="date" class="form-control" value="@Model.Start_Date" id="Start_Date">
                        <label id="ErrStart_Date" style="color:red;"></label>
                    </div>
                    <div class="col-md-4">
                        <label for="Weight">Weight:</label>
                        <input class="form-control" id="Weight" value="@((Model.Weight != null && Model.Weight != 0) ? Model.Weight.ToString() : "")" placeholder="Weight">
                        <label id="ErrWeight" style="color:red;"></label>
                    </div>
                    <div class="col-md-4">
                        <label for="FromStation">From Station:</label>
                        @Html.DropDownListFor(model => model.FromStation, (SelectList)ViewData["StationDDL"], new { @class = "form-control", style = "width: 100%;", id = "FromStation" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label for="ToStation">To Station:</label>
                        @Html.DropDownListFor(model => model.ToStation, (SelectList)ViewData["StationDDL"], new { @class = "form-control", style = "width: 100%;", id = "ToStation" })
                    </div>
                    <div class="col-md-4">
                        <label for="FromFare">Fare:</label>
                        <input class="form-control" id="FromFare" value="@((Model.FromFare != null && Model.FromFare != 0) ? Model.FromFare.ToString() : "")" placeholder="Enter Fare">
                        <label id="ErrFromFare" style="color:red;"></label>
                    </div>
                    <div class="col-md-4">
                        <label for="Return_Date">Return Date:</label>
                        <input type="date" class="form-control" id="Return_Date" value="@Model.Return_Date">
                        <label id="ErrReturn_Date" style="color:red;"></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label for="Return_Weight">Weight:</label>
                        <input class="form-control" id="Return_Weight" value="@((Model.Return_Weight != null && Model.Return_Weight != 0) ? Model.Return_Weight.ToString() : "")" placeholder="Enter Weight">
                        <label id="ErrReturn_Weight" style="color:red;"></label>
                    </div>
                    <div class="col-md-4">
                        <label for="Return_FromStation">From Station:</label>
                        @Html.DropDownListFor(model => model.Return_FromStation, (SelectList)ViewData["StationDDL"], new { @class = "form-control", style = "width: 100%;", id = "Return_FromStation" })
                    </div>
                    <div class="col-md-4">
                        <label for="Return_ToStation">To Station:</label>
                        @Html.DropDownListFor(model => model.Return_ToStation, (SelectList)ViewData["StationDDL"], new { @class = "form-control", style = "width: 100%;", id = "Return_ToStation" })

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label for="ToFare">Return Fare:</label>
                        <input class="form-control" id="ToFare" value="@((Model.ToFare != null && Model.ToFare != 0) ? Model.ToFare.ToString() : "")" placeholder="Enter Fare">
                        <label id="ErrToFare" style="color:red;"></label>
                    </div>
                    <div class="col-md-4">
                        <label for="TotalFare">Total Fare:</label>
                        <input class="form-control" id="TotalFare" disabled="disabled" value="@Model.TotalFare">
                    </div>
                    <div class="col-md-4">
                        <label for="TotalExpense">Total Expense:</label>
                        <input class="form-control" id="TotalExpense" disabled="disabled" value="@Model.TotalExpense">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label for="TotalIncome">Total Income:</label>
                        <input class="form-control" id="TotalIncome" disabled="disabled" value="@Model.TotalIncome">
                    </div>
                </div>
                @* Add Expense Regarding Trip *@
                <hr />
                <span class="input-group-append">
                    <button type="button" class="btn btn-success btn-flat" id="AddExpenseTypes">Add</button>
                </span>
                <div id="ExpenseTypes">
                    @Html.PartialAsync("ExpenseOnRoute", new ExpenseOnRoute())
                </div>
                @* Add Maintance Regarding Vehicle *@
                <hr />
                <span class="input-group-append">
                    <button type="button" class="btn btn-success btn-flat" id="AddMaintanceVeh">Add</button>
                </span>
                <div id="MaintanceVeh">
                    @Html.PartialAsync("VehicleMaintance", new Vehicle_Maintance())
                </div>
                <span class="input-group-append">
                    <button type="button" class="btn btn-primary btn-flat" id="SaveBuilty">Save Builty</button>
                    <button type="button" class="btn btn-danger btn-flat" style="margin-left: 10px;" id="Back">Back</button>
                </span>
            </div>
        </div>
    </div>
</div>
<script src="~/js/expense_builty/create/jquery-expense_builty-min.js"></script>