@using AzamAfridi.Utility
@model List<RouteDetail>
<style>
    .deleted-row {
        background-color: #f8d7da !important; /* Customize the background color for deleted rows */
    }
</style>
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Builty</a></li>
                    <li class="breadcrumb-item active">Create</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <button type="button" class="btn btn-primary btn-flat" style="margin-left: 1000px;" id="CreateBuilty">Create Builty</button>
            </div>
            @if (Model != null && Model.Count() > 0)
            {
                <div class="card-body">
                    <table id="RouteDetails" class="table table-bordered">
                        <thead>
                            <tr>
                                @* <th>Driver Name</th> *@
                                <th>Truck No</th>
                                <th>Date</th>
                                <th>From Station</th>
                                <th>To Station</th>
                                <th>From Fare</th>
                                <th>To Fare</th>
                                <th>Total Income</th>
                                <th>Total Expense</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var data in Model)
                            {
                                <tr data-builty-no="@data.BuiltyNo" class="builty-row @(!data.Isbuilty ? "" : "deleted-row")">
                                    @* <td>@data.DriveName</td> *@
                                    <td>@data.TruckNo</td>
                                    <td>@data.Start_Date.Date.ToString("dd/MM/yyyy")</td>
                                    <td>@data.FromStation</td>
                                    <td>@data.ToStation</td>
                                    <td>@data.FromFare.ToString("N0")</td>
                                    <td>@data.ToFare.ToString("N0")</td>
                                    <td>@data.TotalIncome.ToString("N0")</td>
                                    <td>@data.TotalExpense.ToString("N0")</td>
                                    @if (User.IsInRole(SD.RoleAdmin) && data.Isbuilty == false)
                                    {
                                        <td>
                                            <button type="button" class="btn btn-danger delete-btn" id="Deletebtn1Expense" data-builty-no="@data.BuiltyNo">
                                                <i class="fas fa-trash-alt"></i>
                                            </button> <a asp-action="ExpenseDetail" asp-controller="Expense" asp-route-BuiltyNo="@data.BuiltyNo" asp-route-RouteId="@data.RouteID" 
                                                       class="btn btn-info detail-btn">
                                                <i class="fas fa-file-alt"></i>
                                            </a>
                                           @*  <a asp-action="Edit" asp-controller="Expense" asp-route-builtyNo="@data.BuiltyNo" 
                                                       class="btn btn-info detail-btn">
                                                <i class="fas fa-file-alt"></i>
                                            </a> *@
                                            <a asp-action="Edit" asp-controller="Expense" asp-route-builtyNo="@data.BuiltyNo" class="btn btn-primary detail-btn">
                                                                <i class="fas fa-pencil-alt"></i>
                                            </a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <a asp-action="ExpenseDetail" asp-controller="Expense" asp-route-BuiltyNo="@data.BuiltyNo" asp-route-RouteId ="@data.RouteID" 
                                            class="btn btn-info detail-btn">
                                                <i class="fas fa-file-alt"></i>
                                            </a>
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>
    </div>
</div>
<script src="~/js/expense_builty/index/jquery-expense_builty_index-min.js"></script>