@model List<RouteDetail>

<script>
    $(document).ready(function () {
        $("#CreateBuilty").click(function () {
            window.location.href = '/Expense/Create';
        });
    });
</script>


<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Builty Details</h3>
                        <button type="button" class="btn btn-primary btn-flat" style="margin-left: 1000px;" id="CreateBuilty">Create Builty</button>
                    </div>
                    @if (Model != null && Model.Count() > 0)
                    {
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="RouteDetails" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Builty No</th>
                                        <th>Driver Name</th>
                                        <th>Truck No</th>
                                        <th>Date</th>
                                        <th>Weight</th>
                                        <th>From Station</th>
                                        <th>To Station</th>
                                        <th>From-Fare</th>
                                        <th>To-Fare</th>
                                        <th>Total Fare</th>
                                        <th>Total Expense</th>
                                        <th>Total Income</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var data in Model)
                                    {
                                        <tr>
                                            <td>@data.BuiltyNo</td>
                                            <td>@data.DriveName</td>
                                            <td>@data.TruckNo</td>
                                            <td>@data.Date.Date.ToString("dd/MM/yyyy")</td>
                                            <td>@data.Weight</td>
                                            <td>@data.FromStation</td>
                                            <td>@data.ToStation</td>
                                            <td>@data.FromFare</td>
                                            <td>@data.ToFare</td>
                                            <td>@data.TotalFare</td>
                                            <td>@data.TotalExpense</td>
                                            <td>@data.TotalIncome</td>
                                            <td><a href="@Url.Action("Edit", "Expense", new { builtyNo = data.BuiltyNo })">Edit</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    }
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
<script>
    $(document).ready(function () {
        $(function () {
            $.noConflict();
            $("#RouteDetails").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false
            }).buttons().container().appendTo('#RouteDetails_wrapper .col-md-6:eq(0)');
        });
    });
</script>